body {
    font-family: sans-serif;
}

form {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    position: relative;
    top: 20px;
    left: 20px;
}

div#chart {
    position: relative;
    top: -280px;
    left: 400px;
}

div#power {
    position: relative;
    top: 130px;
    left: 80px;
    font-size: 30px;
}

div#code {
    position: relative;
    top: 200px;
    left: 20px;
    font-size: 14px;
}