body {
    font-family: sans-serif;
}

form {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    position: fixed;
    top: 80px;
    left: 20px;
}

div#chart {
    position: fixed;
    top: 20px;
    left: 400px;
}

div#power {
    position: fixed;
    top: 280px;
    left: 80px;
    font-size: 30px;
}

div#code {
    position: fixed;
    top: 400px;
    left: 20px;
    font-size: 14px;
}