
svg {
  margin-top:  10px;
  margin-left: 50px;
}

.line {
  stroke-width: 1;
  fill: none;
}

text {
 font-family: sans-serif;
 font-size: 11pt;
}

.d3-tip {
  background: darkslateblue;
  color: #fff;
  stroke: none;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  padding: 3px;
}


