
body {
 font-family: sans-serif;
 background: Wheat;
}

.line {
  stroke-width: 1;
  fill: none;
}

.thickline {
  stroke-width: 2;
  fill: none;
}

text {
 font-family: sans-serif;
 font-size: 11pt;
}
